.root{
    -fx-background-color: linear-gradient(#E2C794, #FDEAC4); //light tan
    -fx-padding: 3;
}

.button{
    -fx-background-color: #AFD3E1; //light dusty blue
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-color: #000000;
}

.button:hover {
    -fx-background-color: #B4EAC2; //light green
    -fx-border-radius: 4;
    -fx-border-color: #000000;
}

.button:pressed {
    -fx-background-color: #E0F0F7; //pale blue
    -fx-border-radius: 4;
    -fx-border-color: #000000;
}

.text_label {
    -fx-padding: 5,10,20,40; //top,right,bottom,left
    -fx-text-fill: #034159;
    -fx-font-weight: bold;
    }

.text_comical {
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 15;
    }

#bold-label{
    -fx-font-weight: bold;
}
